@import 'spacings';
@import 'fonts';
@import '~hds-core/lib/helsinki.css';

.header {
  color: var(--hds-brand-color-coat-of-arms-blue);
  font-size: font-size(16);
  font-weight: bold;
  height: units(1.5);
  padding-bottom: units(0.75);
}