@import 'spacings';
@import '~hds-core/lib/helsinki.css';

.propertyIcon {
  display: inline-block;
  border-radius: 50%;
  padding: units(0.25);
  width: units(1.5);
  height: units(1.5);
  border: solid 2px var(--hds-ui-color-black);
  text-align: center;
}

.disabled {
  fill: var(--hds-ui-color-black-20);
  border-color: var(--hds-ui-color-black-20);
}
