@import 'colours';
@import 'spacings';
@import 'fonts';

.button {
  --vene-button-color: var(--hds-ui-color-black-90);

  padding: units(0.5);
  cursor: pointer;
  font-size: font-size(16);
  color: var(--hds-ui-color-white);
  fill: var(--hds-ui-color-white);
  background-color: var(--hds-theme-color-primary);
}

.critical {
  --vene-button-color: var(--hds-ui-color-error);
  background-color: var(--vene-button-color);
}

.secondary {
  --vene-button-color: var(--hds-ui-color-black-20);
  background-color: var(--vene-button-color);
}

.brand {
  --vene-button-color: var(--hds-theme-color-primary);
  background-color: var(--vene-button-color);
}

.standard {
  padding-left: units(0.75);
  padding: units(0.5);
}

.large {
  font-size: font-size(18);
  padding: units(0.5) units(0.75);
}

.small {
  font-size: font-size(14);
  padding: units(0.25) units(0.25);
}

.contained {
  border: 2px;
  
}

.outlined {
  border-color: var(--vene-button-color);
  color: var(--vene-button-color);
  fill: var(--vene-button-color);
  background: none;
}

.text {
  border: none;
  color: var(--vene-button-color);
  background: none;
  padding: 0;
}

.hasIcon {
  display: flex;
  align-items: center;

  & > :first-child {
    margin-right: units(0.5);
  }
}

.disabled {
  cursor: not-allowed;
}
