@import 'spacings';
@import '~hds-core/lib/helsinki.css';

.button {
    margin: 10px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    border-color: var(--hds-brand-color-coat-of-arms-blue);
    border-style: solid;
 
  span {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

.error {
    background-color: var(--hds-ui-color-error)
}

.alert {
    background-color: var(--hds-ui-color-alert)
}

.info {
    background-color: var(--hds-ui-color-info)
}

.success {
    background-color: var(--hds-ui-color-success)
}