@import 'spacings';
@import "../../assets/hds/helsinki.css";

.card {
  flex: 1;
  width: 100%;
  background-color: var(--hds-theme-color-primary);  
  padding: units(0.5) units(1);
  color: var(--hds-theme-color-primary-heading);
}
