@import 'colours';

.internalLink {
  --vene-internal-link-color: var(--hds-theme-color-primary);

  text-decoration: none;
  color: var(--vene-internal-link-color);
}

.underlined {
  text-decoration: underline;
}

.standard {
  --vene-internal-link-color: inherit;
}

.critical {
  --vene-internal-link-color: var(--hds-ui-color-error);
}
