@import "spacings";
@import "breakpoints";
@import "~hds-core/lib/helsinki.css";

$noSidebar: "header  header" "content content" "footer  footer";

.layout {
  display: grid;
  grid-template-columns: minmax(units(16), max-content) 4fr;
  grid-template-rows: minmax(units(4), min-content) 1fr auto;
  grid-template-areas:
    "header  header"
    "side   content"
    "footer  footer";

  height: 100vh;
  background-color: var(--hds-ui-color-white);
  color: var(--hds-ui-color-black);

  .header {
    grid-area: header;
    background-color: var(--hds-theme-color-primary);
    color: var(--hds-theme-color-primary-heading);
  }

  .sidebar {
    grid-area: side;
  }

  .content {
    grid-area: content;
    overflow-y: scroll;
    // background-color: var(--hds-theme-color-primary);
    color: var(--hds-ui-color-black);
  }

  .footer {
    grid-area: footer;
  }

  &.noSidebar {
    grid-template-areas: $noSidebar;
  }

  @include for-size(tablet-portrait-down) {
    grid-template-areas: $noSidebar;

    .sidebar {
      display: none;
    }
  }
}
