@import 'spacings';
@import '~hds-core/lib/helsinki.css';

.checkbox {
  display: inline-block;
  width: units(1);
  height: units(1);
  border: solid var(--hds-ui-color-black-20) 2px;
  vertical-align: baseline;
  cursor: pointer;

  .input {
    display: none;
  }

  .check {
    fill: var(--hds-ui-color-white);
  }
}

.checked {
  border-color: var(--hds-brand-color-coat-of-arms-blue);
  background-color: var(--hds-brand-color-coat-of-arms-blue);
}
