@import 'spacings';
@import 'colours';

.checkbox {
  $checkbox-dimension: units(1);

  box-sizing: content-box;
  display: inline-block;
  width: $checkbox-dimension;
  height: $checkbox-dimension;
  border: solid var(--hds-ui-color-black-20) 2px;
  vertical-align: top;
  cursor: pointer;
  fill: var(--hds-ui-color-black-90);
}

.input {
  display: none;
}

.checked {
  border-color: var(--hds-brand-color-primary);
  background-color: var(--hds-brand-color-primary);
}

.disabled {
  cursor: not-allowed;
}
